.card {
  background-color: white !important;
  background: url("../../utilities/images/bg-pattern-card.svg") no-repeat;
  background-size: 100% 140px;
  border: 1px solid var(--darkCyan);
  border-radius: 12px;
  height: 60%;
  width: 90%;
  min-width: 140px;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 400px) {
  .card {
    width: 60%;
    margin-top: 6rem;
  }
}

@media screen and (min-width: 600px) {
  .card {
    width: 30%;
    margin-top: 6rem;
  }
}
